.questions span.inline-frq {
    border: 1px solid #48f;
    padding: 0 .3em;
    position: relative;
    color: #48f;
}

.questions span.inline-input {
    display: inline-block;
}
.questions span.inline-input:not(:empty)::before,
.questions span.inline-input:not(:empty)::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    background-color: white;
    height: 2px;
    left: 0;
    right: 0;
}
.questions span.inline-input:not(:empty)::before { top: 0 }
.questions span.inline-input:not(:empty)::after { bottom: 0 }

.questions span.inline-input:empty {
    width: 0;
    caret-color: transparent;
}

.questions span.inline-frq:has(span.inline-input:empty:focus) {
    animation: inline-input-blink .6s infinite steps(1);
}

@keyframes inline-input-blink {
    0% {
        background: #48f;
    }
    50% {
        background: transparent;
    }
}

.questions span.inline-frq>span.correct {
    display: none;
}

.questions .code-block.frq {
    border-color: #48f;
    color: #48f;
}

.questions pre.code-block.frq::before {
    color: #bdf;
    border-color: #acf;
}

.questions .question:has(.check-button:checked) span.inline-frq>span.inline-input {
    display: none;
}

.questions .question:has(.check-button:checked) span.inline-frq {
    border-color: #fb4;
}

.questions .question:has(.check-button:checked) span.inline-frq>span.correct {
    display: inline-block;
    color: black;
}


.frq-container {
    display: flex;
}
.frq-container>pre.code-block.frq {
    flex-basis: 0;
    flex-grow: 1;
}
.frq-container>pre.code-block.correct {
    flex-basis: 0;
    width: 0;
    border-color: #fb4;
    color: black;
    flex-grow: 0;
    margin-left: 10px;
    display: none;
    animation: frq-answer-slide-in-2 .5s reverse both ease-out;
}

.question:has(.check-button:checked) .frq-container>pre.code-block.correct {
    display: block;
    flex-grow: 1;
    animation: frq-answer-slide-in 1s both ease-out;
}

@keyframes frq-answer-slide-in-2 {
    0% { display: none; flex-grow: 0 }
    1% { display: block; flex-grow: 0 }
    100% { display: block; flex-grow: 1 }
}

@keyframes frq-answer-slide-in {
    0% { display: none; flex-grow: 0 }
    1% { display: block; flex-grow: 0 }
    100% { display: block; flex-grow: 1 }
}

.questions .question:has(.check-button:checked) pre.code-block.correct::before {
    color: #fd9;
    border-color: #fd9;
}