.questions :is(.answer-select, .answer-choices) > label {
    display: block;
}

.questions :is(.answer-select, .answer-choices) > label > input {
    vertical-align: -.12em;
    margin-right: .5em;
}